.way {
}
.way__img {
  width: 970px;
}
.way__row {
  display: flex;
}
.way__thumbnail {
  background: #c0e8c0;
  padding: 400px 0px 0px 0px;
  text-align: center;
  width: 970px;
}
.thumbnail__text {
  font-size: 63px;
  line-height: 58px;
  letter-spacing: 0.5px;
  color: #004e35;
}
