@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap");
@import "./base/base";
@import "./base/reset";
@import "./_blocks/header";
@import "./_blocks/nav";
@import "./_blocks/article";
@import "./_blocks/footer";
@media (max-width: 1200px) {
  .hero__title {
    font-size: 58px;
  }
  .text {
    padding-left: 50px;
    max-width: 50%;
    &::before {
      width: 140px;
      height: 140px;
      font-size: 140px;
    }
  }
  .img {
    max-width: 45%;
    max-height: 45%;
  }
}
@media (max-width: 800px) {
  .menu,
  .login {
    display: none;
  }
  .nav__row {
    padding: 64px 40px;
  }
  .hero {
    padding-top: 20px;
    margin-bottom: 250px;
  }
  .hero__title {
    line-height: 50px;
  }
  .mobile__nav,
  .mobile__nav-icon {
    display: block;
  }
  .mobile__menu {
    z-index: 9;
  }
  .mobile__menu-active {
    display: flex;
  }
  .hero__title {
    font-size: 38px;
  }
  .hero__category {
    font-size: 14px;
    padding-left: 62px;
    &::before {
      width: 42px;
    }
  }
}
