.about__top {
  display: flex;
}
.about__bottom {
  display: flex;
  margin-top: 42px;
  position: relative;
  padding-left: 150px;
}
.img.about__img-top {
  margin-top: 0;
  right: 0;
  margin-left: 45px;
  padding-top: 200px;
}
.img.about__img-bottom {
  margin-top: 0;
  left: 40px;
  margin-top: 50px;
}
.read-more.read-more__bottom {
  left: 0%;
  position: absolute;
  bottom: -30%;
}
.subtitle.subtitle__bottom {
  margin-left: 100px;
  margin-bottom: 20px;
  position: relative;
}
