.news {
  margin-top: 240px;
}
.title.title__news {
}
.date {
  font-weight: 700;
  font-size: 14px;
  line-height: 135%;
  text-align: center;
  color: #009785;
}
.title.title__flex {
  margin-left: 800px;
}
.text {
  &::before {
  }
}
.category {
}
