.news {
  margin-top: 240px;
  display: flex;

  margin-bottom: 200px;
}
.news__top-row {
  display: flex;
  column-gap: 120px;
}
.news__bottom-row {
  display: flex;
  column-gap: 120px;
}
.title.title__news {
  margin-top: 27px;
}
.title.title__flex {
  top: -30px;
}
.date {
  font-weight: 700;
  font-size: 14px;
  line-height: 135%;
  text-align: center;
  color: #009785;
  margin-top: 85px;
  display: block;
  margin-left: -85%;
}

.img__news {
  max-height: 530px;
  max-width: 665px;
  margin-top: 280px;
}
.img__news-bottom {
  max-height: 530px;
  max-width: 665px;
  margin-top: 50px;
}
