.footer {
  background-color: #000000;
}
.footer__top {
  padding-top: 100px;
  margin-left: 136px;
  border-bottom: #ffffff solid 2px;
  padding-bottom: 36px;
  margin-right: 136px;
  ul {
    display: flex;
  }
}
.footer__column-left {
}
.footer__logo {
}
.footer__subtitle {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #c0c0c0;
  padding-top: 20px;
  white-space: nowrap;
}
.footer__column-right {
  padding-left: 256px;
  ul {
    display: flex;
  }
  .column-right__right {
    padding-left: 88px;
  }
  .column-right__left {
  }
}
.right-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #c0c0c0;
  margin-bottom: 10px;
}
.right-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 10px;
  &:hover {
    color: #6d6d6d;
    transition: 0.7s;
    transform: scale(1.1);
  }
  a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
  }
}
.footer__mid {
  border-bottom: #ffffff solid 2px;
  margin-right: 136px;
  margin-left: 136px;
  padding-bottom: 40px;
  ul {
    display: flex;
    li {
    }
  }
}
.footer__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
  margin-top: 36px;
}
.f__sub {
  margin-top: 10px;
}
.form {
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  margin-left: 444px;
  margin-top: 45px;
  height: 52px;
  width: 458px;
}
.form__label {
  display: flex;
}
.form__input {
  height: 50px;
  padding-right: 10px;
  width: 390px;
}
.form__button {
  height: 30px;
  width: 63px;
  background: #000000;
  border-radius: 11px;

  margin-top: 11px;
}
.footer__bottom {
  padding-bottom: 100px;
  ul {
    display: flex;
    justify-content: space-between;
  }
}
.license {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #c0c0c0;
  margin-top: 56px;
  margin-left: 136px;
}
.social {
  margin-right: 136px;
  margin-top: 56px;
  ul {
    display: flex;
    li {
      margin-left: 20px;
    }
  }
}
.socia__icon {
  &:hover {
    transition: 0.7s;
    transform: scale(1.1);
  }
}
