.nav {
  background-color: #181818;
  padding: 25px;
  top: 0;
  width: 100%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #181818;
  padding: 25px;
}

.nav__row {
  display: flex;
  ul {
    display: flex;
  }
}
.nav__logo {
  margin-left: 152px;
  margin-top: 5px;
}
.nav__text {
  margin-top: 10px;
  margin-left: 338px;
  margin-right: 31px;
  ul {
    display: flex;
    li {
      margin-right: 32px;
      a {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #ffffff;
        &:hover {
          color: #6d6d6d;
          transition: 0.6s;
          transform: scale(1.1);
        }
      }
    }
  }
}
.nav__btn {
  height: 42px;
  width: 152px;
  background: #ffffff;
  border-radius: 14px;
  align-items: center;
  padding: 10px 20px;
  a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    &:hover {
      color: #6d6d6d;
      transition: 0.6s;
    }
  }
}
.nav__mobile-button {
  visibility: visible;
}
.nav.open .nav__list {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #181818;
  z-index: 1;
}

@media